<!DOCTYPE html>
<html ng-app="<%= appName %>" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="dist/css/app.css" rel="stylesheet" type="text/css"/>
    <title><%= appName %> Scaffold</title>
</head>
<body>
<header>
    <h1><%= appName %> App</h1>
</header>

<section ui-view></section>

<script type="text/javascript" src="dist/js/app.js"></script>
</body>
</html>
